<div class="container">
<div class="row text-center">
  <h1 class="col">Registered Doctors</h1>
</div>
  <table class="table table-bordered" width="100">
    <thead>  <tr>    <td>      Name    </td>    <td>      Specialization    </td>    <td>      Address    </td>  </tr>  </thead>
    <tr *ngFor = "let row of DocList ">
      <td *ngFor = "let column of headers; let i = index">
        {{row[column]}}
      </td>
    </tr>



  </table>

<div class="row text-center"><div class="col"><button class="btn btn-primary" (click)="goback()">Back</button></div></div>
</div>
